/*==================================
=            NAVIGATION            =
==================================*/
@media screen and (min-width: 768px ) {
	
	#site-navigation{
		ul {
		display: block;
		}
	}
}
@media screen and (max-width:  782px) {
.admin-bar {
	#site-navigation {
    	margin-top: 46px;
	}
}
}

@media screen and (max-width:  767px) {
  #site-navigation{
		padding:15px 15px !important;
		li {
		float: none;
		text-align: left;
		margin-right: 0 !important;
		a{
			padding-bottom: 4px;
			padding-top: 4px;
		}
		}
		.dropdown-menu{
				width:100%;
				a{
					min-width: 100% !important;
				}
		}
	}
}





/*=====  End of NAVIGATION  ======*/


/*=======================================
=            CONTENT-SIDEBAR            =
=======================================*/

@media screen and (max-width: 600px) {
 #secondary {
  	padding-right: 15px;
  	padding-left: 15px;
  }
}

/*=====  End of CONTENT-SIDEBAR  ======*/


/*================================
=            404 PAGE            =
================================*/


@media screen and (max-width:  600px) {
.error-404 {
	h1 {
	    font-size: 170px !important;
	}
}
}

/*=====  End of 404 PAGE  ======*/
