$color__background-body: #f5f5f5;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #777777;
$color__link-visited: #777777;
$color__link-hover: #EF9D87;
$color__text-main: #404040;

$color__border-button: #d8d8d8;
$color__border-button-hover: #333;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
