.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published){
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.post {
    background: #ffffff;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
    -moz-box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
    box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
	.post-thumbnail{
		img{
			width:100%;
		}
	}
	.entry-header {
	    padding: 20px 30px 24px;
	    text-align: center;
	    .cat-links{
	    	a{
		    	text-transform: uppercase;
			    font-weight: 700;
			    font-size: 11px;
			    letter-spacing: 1px;
			    color: $color__link-hover;
			    &:hover,
				&:focus,
				&:active {
					color: $color__link-hover;
					text-decoration: underline !important;
				}
	    	}
	    }
	    .entry-title{
	    	a{
	    		font-size: 24px;
			    text-transform: uppercase;
			    letter-spacing: 2px;
			    color: #000000;
			    font-family: $font__code;
			    font-weight: 400;
			    -o-transition: .3s;
			    -ms-transition: .3s;
			    -moz-transition: .3s;
			    -webkit-transition: .3s;
			    &:hover{
			    	opacity: .6;
			    }
		    }
	    }
	    
	}
	.entry-content {
	    padding: 0 30px;
	    font-size: 16px;
	    line-height: 24px;
	    margin-bottom: 10px;
	    overflow: hidden;
	    margin-top: 0;
	    font-family: $font__pre;
	    .button{
	    	margin-top: 30px;
	    	text-align: center;
	    }
	    .read-more{
	    	text-align: center;
	    	color: $color__link-hover;
	    	font-family: $font__main;
		    line-height: 24px;
		    text-transform: uppercase;
		    border: 1px solid #e9e9e9;
    		letter-spacing: 2px;
    		font-size: 11px;
    		padding: 10px 16px;
    		-o-transition: .3s;
			-ms-transition: .3s;
			-moz-transition: .3s;
			-webkit-transition: .3s;
			display: inline-block;
    		&:hover{
    			border-color: $color__link-hover;
    			background-color: $color__link-hover;
    			color:#ffffff;
    		}
	    }
	}
	.entry-meta {
	    padding: 0 30px 30px;
	    overflow: hidden;
	    font-style: italic;
	    color: $color__link;
	    margin-right: 8px;
	    font-family: $font__pre;
	    font-size: 15px;
	    .posted-on{
	    	a{
	    		color:$color__link;
	    	}
	    }
	    .author{
	    	a{
	    		color: $color__link-hover;
	    	}
	    }
	}
}

/*======================================
=            FOOTER SECTION            =
======================================*/

.site-footer{
	padding: 20px 0;
    font-size: 11px;
    color: #999;
    background: #fff;
    overflow: hidden;
    margin-top: 50px;
    a{
    	color: $color__link-hover;
    }
}

/*=====  End of FOOTER SECTION  ======*/



/*=============================================
=            404 PAGE            =
=============================================*/

.error-404 {
	text-align: center;
	h1 {
    	font-size: 190px !important;
    	font-family: $font__code;
	}
	 p {
    color: #888;
    font-family: $font__pre;
	}
}


/*=====  End of 404 PAGE  ======*/

/*===================================
=            SEARCH PAGE            =
===================================*/
.page-header{
	background: #fff;
    padding: 18px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
    -moz-box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
    box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
    text-align: center;
    h1{
	    font-size: 11px;
	    font-style: italic;
	    letter-spacing: 1px;
	    color: #999;
	    margin-bottom: 4px;
	    display: inline-block;
    }
}

/*=====  End of SEARCH PAGE  ======*/

/*===================================
=            SINGLE PAGE            =
===================================*/

.single-post{
	.entry-header{
		.entry-title{
		font-size: 24px;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    color: #000000 !important;
	    font-family: $font__code;
	    font-weight: 400;
	    -o-transition: .3s;
	    -ms-transition: .3s;
	    -moz-transition: .3s;
	    -webkit-transition: .3s;
	    line-height: 1.8;
		}
	}
}

/*=====  End of SINGLE PAGE  ======*/

/*==========================================
=            CONTENT RIGHT PAGE            =
==========================================*/

.post-outer {
    width: 100%;
    display: inline-block;
    .post-inner-img{
    	display: inline-block;
	    width: 37%;
	    vertical-align: top;
    }
    .post-inner-text{
    	display: inline-block;
	    width: 62%;
	    vertical-align: top;
    }
    .entry-header{
    	text-align: left !important;
    	padding-bottom: 10px !important;
    }

}

/*=====  End of CONTENT RIGHT PAGE  ======*/
